body {
  background-color: #ADC8FD;
  grid-template-rows: flex;
  scroll-behavior: smooth;
}

/* FOLDER ICONS*/
.folders{
  display: grid;
  padding: 10px;
}

.folder-img {
  width: 5%;
  padding:20px;
}

@media only screen and (max-width: 980px) {
  .folder-img {
    width:10%;
  }
}

@media only screen and (max-width: 768px) {
  .folder-img {
    width:15%;
  }
}

@media only screen and (max-width: 575px) {
  .folder-img {
    width:20%;
  }
}

/* WIDGETS */
.container-widgets {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 5%;
  left:80%;
  padding: 10px;
}
.widget-thumbnail {
 width: 50%;
 padding:10px;
 float:right;

}

@media only screen and (max-width: 980px) {
  .widget-thumbnail {
    width:80%;
  }
}

@media only screen and (max-width: 768px) {
  .widget-thumbnail {
    width:100%;
  }
}

/* FOOTER */
.footer {
  height: 7%;
  background-color: #545454;
  position: fixed;
  bottom: 0;
  width: 100%; 
  
}

.footer-text {
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  color: white;
  font-size: 15px;
}

/* MODAL */
.modal-header {
  width:100%;
  text-align: right;
  background-color: #545454;
  border: 1px solid;
  height:5%;
}
.modal-img {
  height:5%;
  width:100%;
}
.modal-body h1,
h2, h3, p {
  text-align: center;
  padding: 10px;
}

.modal-body {
  background: white;
  border: 1px solid;
  width:100%;
  overflow-y: scroll;
  max-height:20rem;
}


.draggable {
  width:30%;
}

/* REACT MODAL*/
.modal-90w {
  height:0%
}

.modal-dialog {
  height:0;
}

/* RESUME MODAL */
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin-right: 0.5rem;
}

.dev-icons {
  font-size: 3rem;
  padding-left: 10%;
}
.btn-cert {
  align-items: center;
  padding: 10px;
}

/* ABOUT MODAL*/
.about-img {
  width:100%;
}

/* PORTFLIO MODAL */
.modal-btn {
  float: center;
  padding:10px;
  padding-left: 35%;
}

.portfolio-container {
  padding:10%;
  padding-right:5%;
}

.portfolio-content {
  background-color: wheat;
  border-radius: 5px;
  padding: 10px;
  padding-top: 10%;
  width: 90%;
  float: center;
}

.space {
  background-color: white;
  height: 20px;
}

/* CONTACT ICONS*/
.contact-icons {
  display: inline-block;
  margin-right: 0.5rem;
}

.icon-item {
  font-size: 3rem;
  padding-left: 0%;
}

