body {
  background-color: #ADC8FD;
  grid-template-rows: flex;
}

/* FOLDER ICONS*/
.folders{
  display: grid;
  padding: 10px;
}

.folder-img {
  width: 5%;
  padding:20px;
}

@media only screen and (max-width: 980px) {
  .folder-img {
    width:10%;
  }
}

@media only screen and (max-width: 768px) {
  .folder-img {
    width:15%;
  }
}

@media only screen and (max-width: 575px) {
  .folder-img {
    width:20%;
  }
}

/* WIDGETS */
.container-widgets {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 5%;
  left:80%;
  padding: 10px;
}
.widget-thumbnail {
 width: 50%;
 padding:10px;
 float:right;

}

@media only screen and (max-width: 980px) {
  .widget-thumbnail {
    width:80%;
  }
}

@media only screen and (max-width: 768px) {
  .widget-thumbnail {
    width:100%;
  }
}

/* FOOTER */
.footer {
  height: 7%;
  background-color: #545454;
  position: fixed;
  bottom: 0;
  width: 100%; 
  
}

.footer-text {
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  color: white;
  font-size: 15px;
}

/* MODAL */
.modalBar {
  background-color: #545454;
  height:5%;
  cursor: move;
}
.modal-header {
  width:100%;
  text-align: center;;
}
.modal-title h1,
p {
  text-align: center;
  padding: 10px;
}

.modal-body {
  background: white;
  border: 1px solid;
  
}

.draggable {
  width:30%;
}